@inherits LayoutComponentBase

<PageTitle>MedicoPrenotazioni</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-left">
                <span class="administration">Amministrazione</span> > <span class="menu-principale">Menu Principale</span>
            </div>
            <div class="top-right">
                <span class="date">lunedì 31 marzo 2025</span>
                <span class="separator">·</span>
                <span class="casa-tua">A CASA TUA</span>
                <span class="separator">·</span>
                <span class="lombardia">LOMBARDIA</span>
                <span class="separator">·</span>
                <span class="ciclo-attivo">CICLO ATTIVO</span>
                <span class="separator">·</span>
                <span class="user">Andrea Voccia</span>
            </div>
        </div>

        <article class="content px-4">
        
            @Body
        </article>
    </main>
</div>