<div class="nav-container">
    <div class="logo">
        <a href="">
            <img src="/logo.png" alt="Logo" />
        </a>
    </div>
    <nav>
        <div class="nav-item">
            <a href="" class="nav-link home-icon" title="Home">
                <span class="icon-home"></span>
            </a>
        </div>
        <div class="nav-item">
            <a href="counter" class="nav-link calendar-icon" title="Calendario">
                <span class="icon-calendar"></span>
            </a>
        </div>
        <div class="nav-item">
            <a href="fetchdata" class="nav-link search-icon" title="Ricerca">
                <span class="icon-search"></span>
            </a>
        </div>
    </nav>
    <div class="nav-bottom">
        <div class="nav-item">
            <a href="" class="nav-link back-icon" title="Indietro">
                <span class="icon-back"></span>
            </a>
        </div>
        <div class="nav-item">
            <a href="" class="nav-link share-icon" title="Condividi">
                <span class="icon-share"></span>
            </a>
        </div>
        <div class="nav-item">
            <a href="" class="nav-link help-icon" title="Aiuto">
                <span class="icon-help"></span>
            </a>
        </div>
    </div>
</div>